.jumbotron{
    background-color: lightblue;
     border: 15px ridge blue; 
}

body{
    background-image: url('assets/weather.jpg');
}

h5{
    text-align: center;
    color: black;
    font-size:18pt; 
}